@media (max-width: 1520px) {
    header {
        #top-menu {
            grid-template-columns: 46vw 18vw 16vw;

            ul {
                li {
                    font-size: 1.7rem;
                }
            }

            #flocon {
                font-size: 1.7rem;

                img {
                    height: 45px;
                    width: 45px;
                }
            }

            #panier {
                img {
                    height: 27px;
                    width: 27px;
                }
            }
        }
    }

    #caracteristique {
        .chevron {
            left: 88.9vw;
        }
    }
}

@media (max-width: 1380px) {
    header {
        h1 {
            font-size: 2.9rem;
        }

        #top-menu {
            ul {
                li {
                    font-size: 1.6rem;
                }
            }

            #flocon {
                font-size: 1.6rem;

                img {
                    height: 42px;
                    width: 42px;
                }
            }
        }
    }
}

@media (max-width: 1310px) {
    header {
        h1 {
            font-size: 2.9rem;
        }

        #top-menu {
            ul {
                li {
                    font-size: 1.5rem;
                }
            }

            #flocon {
                font-size: 1.5rem;

                img {
                    height: 40px;
                    width: 40px;
                }
            }

            #panier {
                img {
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }

    #caracteristique {
        grid-area: 3/2/4/4;

        .chevron {
            left: 88.6vw;
        }
    }
}

@media (max-width:1200px) {
    header {
        grid-template-columns: 21vw 79vw;

        h1 {
            font-size: 2.8rem;
        }

        #top-menu {
            grid-template-columns: 46vw 17vw 16vw;

            ul {
                li {
                    font-size: 1.4rem;
                }
            }

            #flocon {
                font-size: 1.4rem;

                img {
                    height: 37px;
                    width: 37px;
                }
            }

            #panier {
                img {
                    height: 23px;
                    width: 23px;
                }
            }
        }
    }

    #caracteristique {
        grid-area: 3/2/4/4;

        .chevron {
            left: 88.5vw;
        }
    }
}

@media (max-width: 1110px) {
    header {
        grid-template-columns: 22% 78%;

        h1 {
            font-size: 2.7rem;
        }

        #top-menu {
            grid-template-columns: 45vw 17vw 16vw;

            ul {
                li {
                    font-size: 1.3rem;
                }
            }

            #flocon {
                font-size: 1.3rem;

                img {
                    height: 36px;
                    width: 36px;
                }
            }

            #panier {
                img {
                    height: 21px;
                    width: 21px;
                }
            }
        }
    }
}

@media (max-width: 1030px) {
    header {
        grid-template-columns: 23vw 77vw;

        h1 {
            font-size: 2.6rem;
        }

        #top-menu {
            grid-template-columns: 44vw 17vw 16vw;

            ul {
                li {
                    font-size: 1.2rem;
                }
            }

            #flocon {
                font-size: 1.2rem;

                img {
                    height: 34px;
                    width: 34px;
                }
            }

            #panier {
                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        main {
            grid-template-columns: 10vw 40vw 40vw 10vw;

            h2 {
                font-size: 2rem;
            }
        }
    }
}

@media(max-width: 950px) {
    header {
        grid-template-columns: 24vw 76vw;

        h1 {
            font-size: 2.4rem;
        }

        #top-menu {
            grid-template-columns: 44vw 17vw 15vw;

            ul {
                li {
                    font-size: 1rem;
                }
            }

            #flocon {
                font-size: 1rem;

                img {
                    height: 32px;
                    width: 32px;
                }
            }

            #panier {
                img {
                    height: 19px;
                    width: 19px;
                }
            }
        }
    }

    #caracteristique {
        font-size: 1.3rem;

        .chevron {
            left: 88vw;
        }
    }
}

@media(max-width: 880px) {
    header {
        grid-template-columns: 25vw 75vw;

        h1 {
            font-size: 2.3rem;
        }

        #top-menu {
            grid-template-columns: 43vw 17vw 15vw;

            ul {
                li {
                    font-size: 0.9rem;
                }
            }

            #flocon {
                font-size: 0.9rem;

                img {
                    height: 30px;
                    width: 30px;
                }
            }

            #panier {
                img {
                    height: 18px;
                    width: 18px;
                }
            }
        }
    }

    #caracteristique {
        font-size: 1.3rem;

        img {
            height: 16px;
        }

        .chevron {
            left: 87.9vw;
        }
    }
}

@media(max-width: 780px) {
    header {
        grid-template-columns: 26vw 74vw;

        h1 {
            font-size: 2.1rem;
        }

        #top-menu {
            grid-template-columns: 42vw 17vw 15vw;

            ul {
                li {
                    font-size: 0.8rem;
                }
            }

            #flocon {
                font-size: 0.8rem;

                img {
                    height: 25px;
                    width: 25px;
                }
            }

            #panier {
                img {
                    height: 15px;
                    width: 15px;
                }
            }
        }
    }

    main {
        #caracteristique {
            font-size: 1.3rem;

            .chevron {
                left: 87.5vw;
            }
        }
    }
}

@media(max-width: 700px) {
    header {
        grid-template-columns: 27vw 73vw;

        h1 {
            font-size: 2rem;
        }

        #top-menu {
            grid-template-columns: 41vw 17vw 15vw;

            ul {
                li {
                    font-size: 0.7rem;
                }
            }

            #flocon {
                font-size: 0.7rem;

                img {
                    height: 20px;
                    width: 20px;
                }
            }

            #panier {
                img {
                    height: 13px;
                    width: 13px;
                }
            }
        }
    }

    main {
        #caracteristique {
            font-size: 1.3rem;

            .chevron {
                left: 87vw;
            }
        }
    }
}

@media(max-width: 600px) {
    header {
        grid-template-columns: 28vw 72vw;

        h1 {
            font-size: 1.8rem;
        }

        #top-menu {
            grid-template-columns: 41vw 17vw 14vw;

            ul {
                li {
                    font-size: 0.6rem;
                }
            }

            #flocon {
                font-size: 0.6rem;

                img {
                    height: 19px;
                    width: 19px;
                }
            }

            #panier {
                img {
                    height: 11px;
                    width: 11px;
                }
            }
        }
    }

    main {
        #caracteristique {
            .chevron {
                left: 86.8vw;
            }
        }
    }
}

@media(max-width: 550px) {
    header {
        grid-template-columns: 29vw 71vw;

        h1 {
            font-size: 1.7rem;
        }

        #top-menu {
            grid-template-columns: 41vw 16.5vw 13.5vw;

            ul {
                li {
                    font-size: 0.6rem;
                }
            }

            #flocon {
                font-size: 0.6rem;

                img {
                    height: 17px;
                    width: 17px;
                }
            }

            #panier {
                img {
                    height: 10px;
                    width: 10px;
                }
            }
        }
    }

    main {
        #caracteristique {
            .chevron {
                left: 86.8vw;
            }
        }
    }
}

@media(max-width: 500px) {
    body {
        min-height: 100vh;
        grid-template-rows: 10vh 1fr;
    }

    header {
        display: flex;
        justify-content: space-around;

        h1 {
            width: 100%;
            font-size: 2rem;
            padding-left: 7vw;
        }

        #top-menu {
            display: none;
        }

        .menuburger {
            display: block;
            align-content: center;
            padding-right: 7vw;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        gap: 5vh;
        padding-top: 2vh;

        #container-main-left {
            padding-left: 7vw;
            max-height: 30vh;

            #chaussure {
                position: relative;
                top: -55px;
                margin-left: 35px;
                width: 70%;
            }
        }

        #container-main-right {
            width: 100%;
            padding: 0 2vw;

            #container-main-right-haut {
                margin-bottom: 2vw;

                h2 {
                    font-size: 1.9rem;
                }

                .tag {
                    font-size: 1.2rem;
                    width: 55px;
                }

                .price {
                    padding: 1vh 0 11vh 0;

                    .euro {
                        font-size: 2rem;
                        font-weight: bold;
                    }

                    .prix {
                        font-size: 5rem;
                        font-weight: bold;
                    }

                    text {
                        font-size: 1.2rem;
                    }
                }
            }

            .formulaire {
                margin-top: 5vh;

                .selection {
                    display: initial;
                    gap: 3vh;
                }

                .taille,
                .couleur {
                    font-size: 1.2rem;
                    width: 100%;
                    margin-bottom: 3vh;
                }

                input {
                    font-size: 1.2rem;
                    margin: 0 0 2vh 0;
                }
            }
        }

        #caracteristique {
            width: calc(100% - 4vw);
            margin-left: 2vw;

            font-size: 1.2rem;
            line-height: 20px;

            .chevron {
                left: 91.5vw;
            }
        }

        p {
            font-size: 0.8rem;
        }
    }
}