/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;

    /* Déclarations de variables pour les couleurs */

}

/* Sélectionne tous les éléments  + pseudo élément before et after */
*,
*::after,
*::before {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'roboto', sans serif;
}

header {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 15vh;
}

h1 {
    grid-area: 1/1/2/2;

    font-size: 3.2rem;
    font-weight: 600;
    text-shadow: 0px 3px 4px #acaaaa;
    justify-self: center;
    align-content: center;
}

#top-menu {
    grid-area: 1/2/2/3;

    display: grid;
    grid-template-columns: 48vw 16vw 16vw;
    grid-template-rows: 15vh;


    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    #flocon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 2rem;
        color: #3faeee;

        img {
            height: 50px;
            width: 50px;
        }
    }

    #panier {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vh;
        font-weight: 600;

        img {
            height: 35px;
            width: 35px;
        }
    }
}

#menuburger {
    display: none;

    input {
        position: absolute;
        width: 40px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #3faeee;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        z-index: 1;
    }

    span:nth-last-child(1) {
        top: 0px;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        */
    }

    span:nth-last-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    span:nth-last-child(3) {
        top: 20px;
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
    }

    input:checked~span:nth-last-child(1) {
        width: 100%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    input:checked~span:nth-last-child(2) {
        width: 0%;
        opacity: 1;
    }

    input:checked~span:nth-last-child(3) {
        width: 100%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    input:checked~ul {
        left: -250px;
    }
}

#textmenuburger{
    display: none;

    
} 

main {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 75vh;
}

#container-main-left {
    padding-top: 7vh;
    padding-left: 26vh;

    #coeur {
        position: absolute;
        top: 26vh;
        z-index: 2;
    }

    #chaussure {
        position: absolute;
        width: 36vw;
    }
}

#container-main-right {
    padding-top: 8vh;
    padding-right: 26vh;

    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.9vh;
        padding-right: 15vw;
    }

    .tag {
        color: #478b64;
        background-color: #cef6d3;
        width: 50px;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 7px;
        margin-bottom: 2px;
        border-radius: 8px;
        text-align: center;
    }

    .price {
        height: 7vh;
        display: flex;

        .euro {
            font-size: 1.8rem;
            font-weight: bold;
        }

        .prix {
            font-size: 3rem;
            font-weight: bold;
        }
    }

    .text {
        color: #bbb6b6;
        font-size: 1.2rem;
    }

    .formulaire {
        height: 20vh;

        select {
            font-size: 1.2rem;
            padding: 5px 0 5px 15px;
            border-radius: 10px;
            border: #cecbcb 1px solid;

        }

        .selection {
            display: flex;
            justify-content: flex-start;
            padding: 25px 0 15px 0;
            gap: 3vh;
        }

        .taille {
            display: flex;
            flex-direction: column;
            color: #3a3a3a;
            font-size: 1.3rem;
        }

        .couleur {
            display: flex;
            flex-direction: column;
            color: #3a3a3a;
            font-size: 1.3rem;
        }

        #taille,
        #couleur {
            margin: 1vh 0;
        }

        .taille,
        .couleur {
            width: 50%;
        }

        input {
            font-size: 1.2rem;
            color: antiquewhite;
            background-color: #2b2b2b;
            padding: 7px;
            width: 100%;
            border: none;
            border-radius: 10px;
        }
    }

    img {
        height: 20px;
    }

    #caracteristique {
        font-size: 1.3rem;
        line-height: 30px;
        border: #cecbcb 1px solid;
        border-radius: 10px;
        padding: 10px 5px 15px 18px;
    }

    .caracteristique-entete {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        padding: 0 10px 10px 0;
    }
}

footer {
    height: 10vh;
    position: relative;
    z-index: 99;
}