@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* @font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
} */

/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
html {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;

    /* Déclarations de variables pour les couleurs */
}

/* Sélectionne tous les éléments  + pseudo élément before et after */
*,
*::after,
*::before {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10vh;

    text-transform: uppercase;
}

h1 {
    grid-area: 1/1/2/2;

    font-size: 2.9rem;
    font-weight: 600;
    text-shadow: 0px 4px 3px #acaaaa;
    justify-self: center;
    align-content: center;
}

#top-menu {
    grid-area: 1/2/2/3;

    display: grid;
    grid-template-columns: 48vw 16vw 16vw;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            font-size: 1.8rem;
            font-weight: 600;
        }
    }

    #flocon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.8rem;
        color: #3faeee;

        img {
            height: 50px;
            width: 50px;
        }
    }

    #panier {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vh;

        img {
            height: 30px;
            width: 30px;
        }
    }
}

.menuburger {
    display: none;

    input[type="checkbox"] {
        /* display: none; */
    }

    span {
        position: relative;

        display: block;
        height: 5px;
        width: 40px;
        background: #3faeee;
        margin-bottom: 6px;

        z-index: 1;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        transform-origin: 10px 10px;
    }

    span:first-child {
        transform-origin: 0 10px;
    }

    span:nth-last-child(2) {
        transform-origin: 0% 0px;
    }

    input:checked~span {
        transform: rotate(45deg) translate(-2px, 2px);
    }

    input:checked span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 4px);
    }

    +span:nth-last-child(3) {
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    ~ul {
        left: 900px;
    }

    /* input:checked {
            +span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, 4px);
            }
            
            +span:nth-last-child(3) {
                transform: rotate(0deg) scale(0.2, 0.2);
                }
                
                ~ul {
                    left: 900px;
                    }
                    } */


    label {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        transition: 0.2s;
    }

    #textmenuburger {
        position: absolute;
        transform: translate(-650px, 0);
        width: 220px;
        margin: 50px 0 0 0;
        padding: 25px;
        background: white;
        border: 3px solid #3faeee;
        outline: 5px solid white;
        text-transform: uppercase;
        z-index: 2;

        a {
            text-decoration: none;
            color: #3faeee;
        }

        li {
            padding: 5px 0;
            font-size: 1.3rem;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 10vh 45vh 5vh 20vh 10vh;

    max-height: 85vh;
    justify-content: center;
    align-items: center;
}

#container-main-left {
    grid-area: 2/2/3/3;

    height: 100%;
    padding-left: 5vw;

    #coeur {
        position: relative;

        z-index: 99;
    }

    #chaussure {
        position: relative;
        top: -40px;
        width: 31vw;

        z-index: 0;
    }
}

#container-main-right {
    grid-area: 2/3/3/4;


    align-self: start;

    #container-main-right-haut {
        h2 {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1.9vh;
        }

        #majuscule {
            text-transform: capitalize;
        }

        .tag {
            color: #478b64;
            background-color: #cef6d3;
            width: 50px;
            font-size: 1rem;
            font-weight: bold;
            text-transform: capitalize;
            padding: 7px;
            border-radius: 8px;
            text-align: center;
        }

        .price {
            height: 9.5vh;
            display: flex;

            .euro {
                font-size: 1.8rem;
                font-weight: bold;
            }

            .prix {
                font-size: 3rem;
                font-weight: bold;
            }
        }

        .text {
            color: #bbb6b6;
            font-size: 1.2rem;
            text-transform: capitalize;
        }
    }

    .formulaire {
        .selection {
            display: flex;
            justify-content: flex-start;
            padding: 15px 0 10px 0;
            gap: 3vh;
        }

        .taille,
        .couleur {
            display: flex;
            flex-direction: column;
            color: #3a3a3a;

            font-size: 1.3rem;
            text-transform: capitalize;
            width: 50%;
        }

        #taille,
        #couleur {
            margin: 1vh 0;
            padding: 10px;
            font-size: 1.2rem;
            text-transform: capitalize;
            border-radius: 5px;
            border: #cecbcb 1px solid;
        }

        input {
            font-size: 1.2rem;
            text-transform: capitalize;
            color: antiquewhite;
            background-color: #2b2b2b;
            padding: 12px;
            width: 100%;
            border: none;
            border-radius: 10px;
        }
    }
}

#caracteristique {
    grid-area: 3/3/4/4;

    align-self: start;
    margin-top: -5vh;
    text-transform: capitalize;

    font-size: 1.2rem;
    line-height: 30px;
    border: #cecbcb 1px solid;
    border-radius: 10px;
    padding: 10px;

    label {
        cursor: pointer;

    }

    #checkbox-caracteristique {
        position: absolute;
        top: 62vh;
        left: 87.5vw;
        width: 40px;
        opacity: 1;
        -webkit-touch-callout: none;
    }

    .caracteristique-entete {
        display: inline;
        padding: 0;
        font-weight: bold;
    }

    .chevron {
        display: inline-block;
        padding: 0;
        position: absolute;
        left: 88vw;

        img {
            height: 16px;
            width: 14px;
            z-index: 1;
        }
    }

    p {
        position: absolute;
        width: 1px;
        height: -1px;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        margin: 10px 0 0 0;
        white-space: nowrap;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked {
        ~p {
            position: relative;
            white-space: initial;
            position: relative;
            width: 100%;
            position: relative;
            white-space: initial;
            position: relative;
            padding: 0.5vh;
            width: 100%;
        }

        ~.chevron {
            transform: rotate(180deg);
        }
    }
}