/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;

    /* Déclarations de variables pour les couleurs */
    --gris-clair: #CCCCCC;
    --gris----clair: #B1B1B1;
    --gris---clair: #BEBEBE;
    --inversede-gris---clair: #212121;
    --inversede-gris----clair: #303030;
    --noir: #111111;
    --bleu: #085E8F;
    --bleu-vif: #09BCE0;
    --h1: #c1c9d3;
}

/* Sélectionne tous les éléments  + pseudo élément before et after */
*,
*::after,
*::before {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: border-box;
    margin: 0;
}

@media(prefers-color-scheme: light) {
    :root {
        --colortext: var(--noir);
        --colortext-h3: var(--bleu);
        --colortext-button: var(--h1);
        --colortext-link: var(--bleu);
        --background-nav: var(--gris---clair);
        --backgroung-menu-link-nav: var(--gris----clair);
        --backgroung-menu-hamburger: var(--gris----clair);
        --backgroung-link: var(--gris----clair);
        --backgroung-link-hover: var(--inversede-gris----clair);
        --background-main: var(--gris-clair);
        --backgroung-h2-main: var(--gris---clair);
        --backgroung-articles: var(--gris---clair);
        --backgroung-aside: var(--gris----clair);
        --backgroung-button: var(--bleu);
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --colortext: var(--h1);
        --colortext-h3: var(--bleu-vif);
        --colortext-button: var(--noir);
        --colortext-link: var(--bleu-vif);
        --background-nav: var(--inversede-gris---clair);
        --backgroung-menu-link-nav: var(--inversede-gris----clair);
        --backgroung-menu-hamburger: var(--inversede-gris----clair);
        --backgroung-link: var(--inversede-gris----clair);
        --backgroung-link-hover: var(--noir);
        --background-main: var(--noir);
        --backgroung-h2-main: var(--inversede-gris---clair);
        --backgroung-articles: var(--inversede-gris---clair);
        --backgroung-aside: var(--inversede-gris----clair);
        --backgroung-button: var(--bleu-vif);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    height: 100vh;
    color: var(--colortext);

    display: grid;
    grid-template-columns: 16vw 1fr 16vw;
    grid-template-rows: 200px 1fr;
}

header {
    grid-area: 1/1/2/4;
}

#banniere {
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: 1;
}

h1 {
    position: absolute;
    top: 10px;
    left: calc(50vw - 165px);
    font-size: 2rem;
    font-weight: bold;
    color: var(--h1);
    z-index: 2;
}

#container-topnav {
    grid-area: 2/1/3/2;
    background-color: var(--background-nav);
}

#menu-link {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--colortext);
    padding: 13px 10px 10px 15px;
    background-color: var(--backgroung-menu-link-nav);
    text-decoration: none;
}

#topnav-menu {
    display: grid;
    gap: 5px;
    margin-top: 5px;
}

#topnav-hamburger-icon,
#topnav-hamburger-text,
#topnav-responsive-menu {
    display: none;
}

.topnav-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--colortext-link);
    padding: 10px;
    background-color: var(--backgroung-link);
    text-decoration: none;
}

.topnav-link:hover {
    background-color: var(--backgroung-link-hover);
}

aside {
    grid-area: 2/3/3/4;
    background-color: var(--backgroung-aside);
    padding: 0 5px;
}

h3 {
    color: var(--colortext-h3);
    padding: 6px 0;
    margin: 5px 0 8px 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}


#aside {
    /* max-width: 15vh; */
    width: 100%;
}

p {
    text-align: justify;
    font-size: 1rem;
    color: var(--colortext);

    padding: 10px 3px 15px 3px;
}

#jachete {
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    color: var(--colortext-button);
    background-color: var(--backgroung-button);
    border: 0;
}

main {
    grid-area: 2/2/3/3;
    background-color: var(--background-main);
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--backgroung-h2-main);
    padding: 13px 10px 10px 10px;
    color: var(--colortext);
}

.articles {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    color: var(--colortext);
}

.as {
    padding: 10px;
    font-size: 1rem;
}

section {
    background-color: var(--backgroung-articles);
    height: 20vh;
    width: 30vw;
}