/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;

    /* Déclarations de variables pour les couleurs */
    --gris-clair: #CCCCCC;
    --gris----clair: #B1B1B1;
    --gris---clair: #BEBEBE;
    --inversede-gris---clair: #212121;
    --inversede-gris----clair: #303030;
    --noir: #111111;
    --bleu: #085E8F;
    --bleu-vif: #09BCE0;
    --h1: #c1c9d3;
}

/* Sélectionne tous les éléments  + pseudo élément before et after */
*,
*::after,
*::before {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: border-box;
    margin: 0;
}

.light-theme {
    --colortext: var(--noir);
    --colortext-h3: var(--bleu);
    --colortext-button: var(--h1);
    --colortext-link: var(--bleu);
    --background-nav: var(--gris---clair);
    --backgroung-h2-nav: var(--gris----clair);
    --backgroung-link: var(--gris----clair);
    --background-main: var(--gris-clair);
    --backgroung-h2-main: var(--gris---clair);
    --backgroung-articles: var(--gris---clair);
    --backgroung-aside: var(--gris----clair);
    --backgroung-button: var(--bleu);

    display: grid;
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: 200px 1fr;

    grid-area: 1/1/3/4;

    height: 100vh;
}

.dark-theme {
    --colortext: var(--h1);
    --colortext-h3: var(--bleu-vif);
    --colortext-button: var(--noir);
    --colortext-link: var(--bleu-vif);
    --background-nav: var(--inversede-gris---clair);
    --backgroung-h2-nav: var(--inversede-gris----clair);
    --backgroung-link: var(--inversede-gris----clair);
    --background-main: var(--noir);
    --backgroung-h2-main: var(--inversede-gris---clair);
    --backgroung-articles: var(--inversede-gris---clair);
    --backgroung-aside: var(--inversede-gris----clair);
    --backgroung-button: var(--bleu);

    display: grid;
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: 200px 1fr;

    grid-area: 1/1/3/4;

    height: 100vh;
}

@media(prefers-color-scheme: light) {
    .light-theme.adaptive {
        --colortext: var(--noir);
        --colortext-h3: var(--bleu);
        --colortext-button: var(--h1);
        --colortext-link: var(--bleu);
        --background-nav: var(--gris---clair);
        --backgroung-h2-nav: var(--gris----clair);
        --backgroung-link: var(--gris----clair);
        --background-main: var(--gris-clair);
        --backgroung-h2-main: var(--gris---clair);
        --backgroung-articles: var(--gris---clair);
        --backgroung-aside: var(--gris----clair);
        --backgroung-button: var(--bleu);
    }
}

@media(prefers-color-scheme: dark) {
    .dark-theme.adaptive {
        --colortext: var(--h1);
        --colortext-h3: var(--bleu-vif);
        --colortext-button: var(--noir);
        --colortext-link: var(--bleu-vif);
        --background-nav: var(--inversede-gris---clair);
        --backgroung-h2-nav: var(--inversede-gris----clair);
        --backgroung-link: var(--inversede-gris----clair);
        --background-main: var(--noir);
        --backgroung-h2-main: var(--inversede-gris---clair);
        --backgroung-articles: var(--inversede-gris---clair);
        --backgroung-aside: var(--inversede-gris----clair);
        --backgroung-button: var(--bleu-vif);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    height: 100vh;
    color: var(--colortext);
}

header {
    grid-area: 1/1/2/4;

    #banniere {
        position: absolute;
        height: 200px;
        width: 100vw;
        z-index: 1;
    }

    h1 {
        position: absolute;
        top: 10px;
        left: calc(50vw - 165px);
        width: 310px;
        color: var(--h1);
        z-index: 2;
    }

    .dark-or-light {
        position: absolute;
        top: 20px;
        left: 92vw;
        z-index: 2;
    }
}

nav {
    grid-area: 2/1/3/2;
    background-color: var(--background-nav);

    a {
        color: var(--colortext-link);
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 5px 0;
    }

    h2 {
        background-color: var(--backgroung-h2-nav);
        padding: 13px 10px 13px 10px;
        color: var(--colortext);
    }

    li {
        background-color: var(--backgroung-link);
        padding: 10px;
        margin: 5px 0;
    }
}

aside {
    grid-area: 2/3/3/4;
    background-color: var(--backgroung-aside);
    padding: 0 5px;

    h3 {
        color: var(--colortext-h3);
        padding: 6px 0;
        margin: 5px 0;
        text-align: center;
        /* background-color: var(--gris-moins-moins-clair); */
    }

    #aside {
        max-width: 230px;
    }

    p {
        text-align: justify;
        margin-top: -4px;
        font-size: 0.9em;
        color: var(--colortext);

        padding: 20px 10px;
    }

    #jachete {
        width: 100%;
        color: var(--colortext-button);
        background-color: var(--backgroung-button);
        border: 2px solid var(--backgroung-button);
    }
}

main {
    grid-area: 2/2/3/3;
    background-color: var(--background-main);

    h2 {
        background-color: var(--backgroung-h2-main);
        padding: 13px 10px 13px 10px;
        color: var(--colortext);
    }

    .articles {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        color: var(--colortext);
    }

    section {
        background-color: var(--backgroung-articles);
        height: 150px;
        width: 400px;
    }
}