<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau légume</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/index.js" type="module"></script>
    import { getLocalData, saveLocalData } from './assets/js/storageManager.js';
</head>

<body>
    <div id="app">
        <header>
            <div id="image"></div>
        </header>
        <main>
            <div id="newVegetable">
                <form @submit.prevent="newVegetable">
                    <fieldset>
                        <legend>Nouveau légume</legend>
                        <div>
                            <label for="name">Nom</label>
                            <input type="text" id="name" v-model="newVegetable.Name" required>
                        </div>
                        <div>
                            <label for="variety">Variété</label>
                            <input type="text" id="variety" v-model="newVegetable.Variety" required>
                        </div>
                        <div>
                            <label for="primarycolor">Couleur primaire</label>
                            <input type="text" id="primarycolor" v-model="newVegetable.PrimaryColor" required>
                        </div>
                        <div>
                            <label for="lifetime">Durée de conservation</label>
                            <input type="text" id="lifetime" v-model="newVegetable.LifeTime" required>
                        </div>
                        <div id="fresh">
                            <label for="fresh">Est-ce frais ?</label>
                            <select v-model="newVegetable.Fresh" required>
                                <option :value="1">Oui</option>
                                <option :value="0">Non</option>
                            </select>
                        </div>
                        <div>
                            <label for="price">Prix</label>
                            <input type="text" id="price" v-model="newVegetable.Price" required>
                        </div>
                        <div>
                            <label for=""></label>
                            <input type="submit" value="Valider">
                        </div>
                    </fieldset>
                </form>
            </div>
        </main>
        <footer></footer>
    </div>
</body>

</html>