* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: #0c4aaf;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh repeat(3, 1fr);
    justify-items: center;
}

header,
nav,
main,
footer {
    width: 75%;
}

header {
    background-color: #FCD116;
}

nav {
    background-color: #003893;
}

main {
    background-color: #CE1126;
}

footer {
    background-color: white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65% 35%;

    .h2 {
        height: 100%;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .basfooter {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }
}