* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: #5C94FC;
}

main{
    height: 100%;
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 100px;
    grid-template-rows: 100px repeat(4, 1fr) 100px;
}

.contour {
    grid-area: 2/2/6/6;
    border: 5px black solid;
}

.ligne1{
    grid-area: 2/2/3/3;
    border-left: 5px black solid;
    border-right: 5px black solid;
    border-top: 5px black solid;
    background-color: #4976C9;
}

.ligne2{
    grid-area: 3/2/4/4;
    border-left: 5px black solid;
    border-right: 5px black solid;
    border-top: 5px black solid;
    background-color: #375897;
}

.ligne3{
    grid-area: 4/2/5/5;
    border-left: 5px black solid;
    border-right: 5px black solid;
    border-top: 5px black solid;
    background-color: #243B64;
}

.ligne4{
    grid-area: 5/2/6/6;
    border: 5px black solid;
    background-color:  #121D32;
}