* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45vh repeat(3, 1fr);
    justify-items: center;
    background-color: #0c4aaf;
    font-weight: normal;
}

header,
nav,
main,
footer {
    width: 75%;
}

header {
    background-color: #FCD116;
}

nav {
    background-color: #003893;
}

main {
    background-color: #CE1126;
}

footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 25%;

    .h2 {
        height: 100%;
        font-size: 2rem;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .basfooter {
        height: 100%;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    hr {
        border: #ccc8c8 1px solid;
        height: 0;
    }
}