* {}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: antiquewhite;
    font-size: 1em;
}

header {
    background-color: grey;
    height: 15vh;
    text-align: center;
    align-content: center;
}

#frenchflag {
    height: 6vh;
}

main {
    height: calc(80vh-16px);

    h1 {
        font-size: 2.4rem;
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
        padding: 10px;
    }

    h1,
    h2 {
        color: blue;
    }

    .tableau {
        border: 1px black solid;
    }

    th {
        background-color: grey;
        border: 1px blue solid;
    }

    td {
        border: 1px blue solid;
    }

    .c1 {
        padding:20px;
        text-align: justify;
        height: auto;
        background-color: grey;
        align-content: center;
        font-size: 1.2rem;
    }

    .c2{
        padding: 0 20px;
        height: 15vh;
        background-color: grey;
        align-content: center;
        font-size: 1.2rem;
    }

    .c3 {
        font-size: 1.2rem;
        margin-left: 10px;
    }
}