* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/snow-black.gif);

}

.lescercles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 33vh);

    #cercle1 {
        border-radius: 50%;
        background-color: antiquewhite;
        border: 1px antiquewhite solid;
        width: 60px;
        height: 60px;
        grid-area: 3/2/4/3;
        justify-self: end;
    }
    
    #cercle2 {
        grid-area: 2/4/3/5;
        border-radius: 50%;
        background-color: antiquewhite;
        border: 1px antiquewhite solid;
        width: 130px;
        height: 130px;
        justify-self: center;
        transform: translate(-10px,30px);
    }

    #cercle3 {
        grid-area: 1/6/2/7;
        border-radius: 50%;
        background-color: antiquewhite;
        border: 1px antiquewhite solid;
        width: 30px;
        height: 30px;
        align-self: end;
    }
}