@media (max-width:950px) {
    * {
        --square: 5rem;
        transition: 500ms linear;
    }
}

@media (max-width:800px) {
    * {
        --square: 4.5rem;
        transition: 500ms linear;
    }
}

@media (max-width:700px) {
    * {
        --square: 4rem;
        transition: 500ms linear;
    }
}

@media (max-width:650px) {
    * {
        --square: 3.5rem;
        transition: 500ms linear;
    }
}

@media (max-width:530px) {
    * {
        --square: 3.2rem;
        transition: 500ms linear;
    }
}