header {
    font-family: $font3;
    color: $white-mat;
    position: relative;

    .header-content {
        @include centerChild;
        flex-direction: column;

        min-height: 97vh;
        width: 1300px;
        margin: 0 auto;
        opacity: 0;

        animation: headerAnim 1.5s forwards;

        @keyframes headerAnim {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        h1 {
            @include title;
            text-align: center;
            font-weight: bold;
            font-size: 5rem;
            letter-spacing: 6px;

            p {
                line-height: 90px;
            }
        }

        @media screen and (max-width: 1520px) {
            width: 90%;
        }
        
        @media screen and (max-width: 1320px) {
            h1 {
                font-size: 4rem;
            }
        }

        .textheader {
            font-style: italic;
            font-size: 1.2rem;

            margin: 40px 0 60px;
        }

        div {
            i {
                border: 1px solid;
                padding: 25px;
                border-radius: 45px;
            }
        }

        nav {
            position: absolute;
            bottom: 0;
            width: 100%;

            height: 65px;
            background-color: $background-nav;

            @include centerChild;
            justify-content: space-between;
            flex-direction: row;

            ul {
                display: flex;
                text-transform: uppercase;
                cursor: pointer;
                height: 100%;
                font-weight: bold;
            }

            li {
                align-content: center;
                padding: 0 30px;
                letter-spacing: 2px;
            }

            .nav-left {
                text-align: center;

                li {

                    &:first-child,
                    &:hover {
                        background-color: $white-mat;
                        color: $black;
                    }
                }
            }

            .nav-right {
                li {
                    fa-brands {
                        height: 30px;
                        width: 130px;
                    }
                }
            }
        }
    }
}