header {
    font-family: $font2;
    color: $white-mat;
    position: relative;

    .header-content {
        @include centerChild;
        flex-direction: column;

        min-height: 100vh;
        width: 85%;
        margin: 0 auto;
        opacity: 0;

        @media screen and (max-width: 800px) {
            width: 90%;
        }

        transform: translateY(60px);
        animation: headerAnim 2s forwards;

        @keyframes headerAnim {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        h1 {
            @include title;
            font-size: 4rem;
            letter-spacing: 6px;

            @media screen and (max-width: 1320px) {
                font-size: 3.5rem;
            }

            @media screen and (max-width: 1000px) {
                font-size: 3rem;
            }

            @media screen and (max-width: 800px) {
                font-size: 3rem;
            }

            @media screen and (max-width: 600px) {
                font-size: 2.5rem;
            }
        }

        .textheader {
            font-style: italic;
            font-size: 1.2rem;
            line-height: 35px;

            margin: 40px 0 60px;
        }

        .textheader~div {
            height: 60px;
            width: 60px;
            border: 2px solid;
            // border-radius: 50px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        nav {
            display: flex;
            justify-content: space-between;
            background-color: $background-nav;

            bottom: 0;
            width: 100%;

            position: absolute;
            height: 65px;

            ul {
                display: flex;
                text-transform: uppercase;
                height: 100%;

                li {
                    @include title;
                    cursor: pointer;
                    align-content: center;
                    padding: 0 15px;
                }
            }

            .nav-left {
                height: 100%;
                width: 100%;

                .nav-left-content {
                    &:hover li:not(:hover) {
                        background: transparent;
                        color: $white-mat;
                    }

                    li {

                        &:first-child,
                        &:hover {
                            background-color: $background-footer ;
                            color: $grey;
                        }
                    }

                    @media screen and (max-width: 800px) {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        justify-content: space-around;
                    }
                }
            }

            .nav-right {
                justify-content: space-evenly;

                li {
                    font-size: 1rem;
                    
                    &:hover {
                        font-size: 1.05rem;
                    }
                }

                @media screen and (max-width: 800px) {
                    display: none;
                    width: 0;
                }
            }
        }
    }
}