main {
    background-color: $white-mat;
    width: 1300px;
    margin: 0 auto 30px;

    @media screen and (max-width: 1520px) {
        width: 90%;
        justify-items: center;
    }

    .part-main {
        margin: 0 auto;
        @include centerChild;
        flex-direction: column;
        text-align: center;

        >p {
            text-transform: capitalize;
            width: 70%;
            padding: 60px 0;
        }

        @media screen and (max-width: 1520px) {
            width: 90%;
            justify-items: center;
        }

        h2 {
            @include title;
            font-weight: bold;
            font-size: 5rem;
            letter-spacing: 6px;
            width: 85%;

            p {
                line-height: 100%;
            }
        }

        @media screen and (max-width: 1320px) {
            h2 {
                font-size: 4rem;
                width: 80%;
            }
        }
        
        @media screen and (max-width: 1000px) {
            h2 {
                font-size: 3rem;
                width: 80%;
            }
        }

        p {
            line-height: 35px;
        }

        img {
            width: 75%;
        }

        .btn {
            margin: 70px auto;

        }
    }

    .footer-part {
        display: grid;
        grid-template-columns: repeat(2, 50%);

        line-height: 30px;
        position: relative;
        border-top: 1px solid $grey-border;

        @media screen and (max-width: 500px) {
            display: block;
        }

        h3 {
            @include title;
        }

        img {
            width: 80%;
            margin: 30px auto;

            ~p {
                width: 75%;
                padding-bottom: 40px;
                margin-bottom: 40px
            }
        }

        .footer-part-left,
        .footer-part-right {
            @include centerChild;
            flex-direction: column;
            padding: 60px 0;

            >p {
                text-transform: capitalize;
                padding-bottom: 40px;
            }

            .btn {
                position: absolute;
                bottom: 0;
                margin-bottom: 60px
            }

            @media screen and (max-width: 500px) {
                // display: block;

                .btn {
                    position: relative;
                    bottom: 0;
                    margin-bottom: 0;
                }
            }
        }

        @media screen and (max-width: 500px) {

        }

        .footer-part-left {
            border-right: 1px solid $grey-border;
        }
    }
}