/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: #d3bdb0;
    color: #715b64;
    margin: 20px 0 0 20px;
}

#filet {
    border: 2px solid #a28c8a;
}

th,
td {
    border: #8e957f 3px solid;
    padding: 2px 10px;
}

#divTabId {
    display: none;
}

#myTableId {
    margin: 20px 30px 40px 20px;
    border-collapse: collapse;
}

#bonjour {
    display: flex;
    margin: 25px 0 15px 10px;
}

#mepEntete {
    display: grid;
    grid-template-columns: 1fr 1fr;

    font-weight: 600;
    font-size: 1.2rem;
    color: #715b64;
    margin: 10px;


    h1 {
        width: 100%;
    }

    #mdpIncorrect {
        display: none;
        background-color: #c1ae9f;
        text-align: center;
        justify-self: right;
        align-content: center;
        width: 90%;
        border: #8e957f 2px solid;
    }
}

#divForm {
    border: #8e957f 1px dashed;
    color: #946e7e;
    margin: 10px;

}

#form {
    display: grid;
    gap: 10px;
    padding: 20px;
    width: 50%;
    font-weight: 600;

    legend {
        margin: 0 0 30px 20px;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;

        label {
            justify-items: center;
            margin: 0 0 0 20px;
        }

        input {
            margin: 0 0 0 30px;
            background-color: #c1ae9f;
            border: #8e957f 2px solid;
            color: #715b64;
            padding: 5px;
        }

        input[type="submit"] {
            justify-self: center;
        }
    }

    .surligne {
        color: #d3bdb0;
        background-color: #715b64;
    }
}