* {
    margin: 0;
}

body {
    background-color: #7D8CC4;
    min-height: 100vh;
    min-width: 100vh;
    color: #726DA8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-size: 1.6em;
    height: calc(15vh - 15px);
    text-align: center;
    padding-top: 15px;
}

main {
    width: 1000px;
    justify-self: center;
    padding: 0 10px;
    height: calc(80vh - 30px);
    font-size: medium;
    text-align: justify;
    background-color: azure;

    h2 {
        padding-top: 25px;
    }

    ol,
    p {
        color: #B8336A;
        padding-top: 20px;
    }
}

footer {
    font-size: 1.6em;
    font-weight: bold;
    height: calc(5vh - 25px);
    color: #A0D2DB;
    text-align: center;
    padding-top: 25px;
}