* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #EBF0F0;
    height: 100vh;
}

header {
    background-color: #E64B3C;
    text-align: center;
    align-content: center;
    height: 14%;
}

.chaton {
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: #FFFFFF;
    height: auto;

    h2 {
        color: #E64B3C;
        padding: 15px 10px;
    }

    p {
        color: #000000;
        /* text-align: justify; */
        padding: 0 10px 10px 10px;
    }
}

.chatons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
}