.section2 {
    position: relative;
    padding-bottom: 100px;

    &:after {
        position: absolute;
        content: "";
        height: 55vh;
        width: 100%;
        background: url(../img/bg-menu-01.jpg) center/cover;
        transform: translate(-50%, -75%)
    }

    h2 {
        padding: 60px 0 30px;
    }

    ul {
        @include alignChildren(space-around);
        width: 50%;
        min-width: 500px;

        @media screen and (max-width:680px) {
            min-width: 200px;
            width: 90%;
            font-size: 0.75rem;
        }

        margin: 40px auto 30px;

        li {
            border-bottom: 1px solid $grey;
            padding-bottom: 8px;
        }
    }

    .plats {
        color: $black;
        background: $white;
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        border-top: 4px solid $color1;
        padding: 15px 15px 15px;
        position: relative;
        z-index: 100;

        display: grid;
        grid-template-columns: repeat(2, 50%);

        @media screen and (max-width : 680px) {
            grid-template-columns: 1fr;
        }

        .plat {
            border-bottom: 1px dashed grey;
            display: grid;
            grid-template-columns: 25% 60% 15%;
            padding: 20px 0;
            align-items: center;
            margin: 0 10px;

            img {
                border-radius: 50px;
                object-fit: cover;
                width: 100%;
            }

            div {
                text-align: left;
                height: 100%;
                margin: 0 10px;
                align-content: center;

                h3 {
                    font-size: 0.7rem;
                    text-transform: uppercase;
                    margin-bottom: 5px;


                    ~p {
                        font-size: 0.7rem;
                    }
                }

                &~p:first-of-type {
                    color: $color1;
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }
}