/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: inherit;

    margin: 0;
    padding: 0;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #62576b;
    margin: 2px 0 0 10px;
}

h2 {
    margin-bottom: 5px;
}

h5 {
    color: #9a948e;
    margin-bottom: 30px;
}

.message {
    text-align: center;
    font-size: 1.6rem;
    color: rgb(184, 97, 97);
}

table {
    border-collapse: collapse;
    display: block;
    justify-items: center;
}

thead {
    color: black;
}

td,
th {
    border: 1px solid #62576b;
    text-align: left;
    vertical-align: top;
    padding: 5px 10px;
}

.styled {
    color: whitesmoke;
    padding: 10px;
    margin: 2px;

    i {
        padding-right: 10px;
    }
}

.duplicate {
    background-color: #3298dc;
    border-color: #3298dc;
}

.delete {
    background-color: #f14668;
    border-color: #f14668;
}