@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;

    /* Déclarations de variables pour les couleurs */
}

/* Sélectionne tous les éléments */
* {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: inherit;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    text-align: center;
    color: white;
    min-height: 200vh;
    overflow-x: hidden;
}

.box {
    border: 6px solid white;
    transition: 0.25s ease;
    background: black;
    padding: 10px;
}

p {
    /* visibility: hidden; */
    width: 240px;
    margin: 10px auto 0;
    opacity: 0;
    transition: 0.6s;
    transform: translateX(-200px)
}

.question-clicked {
    background: #2f2f2f;
    border-radius: 30px;
    border: 6px dashed pink;
}

.show-response {
    /* visibility: visible; */
    opacity: 1;
    transform: translateX(0)
}

.mousemove {
    width: 50px;
    height: 50px;
    border: 2px solid pink;
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.2s ease;
    z-index: -1;
}

nav {
    background: green;
    position: fixed;
    width: 100%;
    height: 50px;
    top: -50px;
    transition: 0.4s;

    &::after {
        content: "";
        height: 150px;
        width: 150px;
        background: radial-gradient(circle closest-side, #ffffffbd, transparent);
        position: absolute;
        transform: translate(-60%, -60%);
        transition: 0.25s;
        z-index: 20;
        opacity: 0;
        left: var(--x);
        top: var(--y);
    }

    &:hover::after {
        opacity: 1;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }
}