<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/index.js" type="module"></script>
</head>

<body>
    <header>
        <h1>Puissance 4</h1>
    </header>
    <main>
        <div id="grid">
            <div id="app">
                <!-- {{ console.table(matrix) }} -->
                <template v-for="(row, x) in matrix" :key="x">
                    
                        <div v-for="(cell, y) in row" :key="y">
                            <div class="token" :style="{background: cell}" @click="play(y)"></div>
                        </div>

                </template>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>