@mixin display-grid {
    display: -ms-grid;
    display: grid;
}

@mixin fixed($position) {
    position: fixed;
    width: 100%;
    z-index: 10000;
    #{$position} : 0;
}

@mixin border-radius($type : "all", $radius : $default-radius){
    @if ($type == "top") {
        border-radius: $radius $radius 0 0;
    }
    @else{
        border-radius: $radius;
    }
}