form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family: $font3;
    font-weight: 700;
    font-size: 0.7rem;
    width: 80%;
    padding: 30px 0 60px;

    label {
        text-transform: uppercase;
        padding: 10px 0;
    }

    input {
        background-color: $background-footer;
        border: 1px solid $grey-border;
        height: 35px;
    }

    textarea {
        background-color: $background-footer;
        border: 1px solid $grey-border;
        height: 150px;
        margin-bottom: 40px;
    }

    input[type="submit"] {
        color: $grey;
        border: 2px solid $grey;
        padding: 15px 45px 30px;
        width: fit-content;
        // margin-bottom: 40px;
    }
}