@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;

    /* Déclarations de variables pour les couleurs */
    --background-body: #1d1d1d;
    --background-infos: #0d0d0d;
    --background-button: #474dff;
    --color-text-white: #fefefe;
    --color-text-mauve: #474dff;
}

/* Sélectionne tous les éléments  + pseudo élément before et after */
*,
*::after,
*::before {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: inherit;
    margin: 0;
    padding: 5px;
    font-family: "Inter", sans-serif;
}

li {
    list-style: none;
    cursor: pointer;
}

P {
    font-size: 0.8rem;
}

body {
    min-height: 100vh;
    background-color: var(--background-body);
    color: var(--color-text-white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    h2 {
        font-size: 1.5rem;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 49%;
        font-size: 1rem;
    }
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    h1 {
        font-size: 6.3rem;
    }

    h3 {
        color: var(--color-text-mauve);
        font-size: 1.8rem;
    }
}

.header-right {
    width: 50%;

    img {
        width: 100%;
    }
}

.infos {
    display: flex;
    background-color: var(--background-infos);
    border-radius: 9px;
}

.infos-left {
    width: 30%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-self: start;
    padding-left: 10px;

    button {
        background-color: var(--background-button);
        color: var(--color-text-white);
        border: none;
        border-radius: 9px;
        margin: 5px;
        padding: 10px 0;
        font-size: 0.9rem;
        width: 140px;
        place-self: center;
    }
}

.infos-right {
    width: 70%;
}

.investors {
    height: 80%;
}

.img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

    img {
        height: 60px;
    }
}