/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px auto;
    padding: 20px 15px 0 15px;
    border: 1px solid blue;
}

#form {
    margin: 10px 0;

    input {
        color: blue;
    }
}

#prenom,
#age {
    border: 1px solid blue;
    width: 100px;
    padding: 5px 0 2px 5px;
}

#valider,
#reset {
    color: blue;
    border: 1px solid blue;
    padding: 5px 5px 2px 5px;
}

hr {
    border: 1.5px solid black;
}

#sentences {
    margin: 10px 0;
}

ul {
    list-style: none;
    margin-top: 20px;

    li {
        margin: 10px 0;
    }
}

.colorBlue {
    color: blue;
}