@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');

:root {
  --light-blue: #dee3f4;
  --blue: #00368c;
  --blue-hover: #005cf0;
  --light-grey: #D8D8D8;
  --mid-grey: #989898;
  --dark-grey: #626262;
  --orange: #FF9700;
  --light-orange: #FFCB80;
  --white: #FFFFFF;
  --red: #951313;
  --green: #348b34;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--dark-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blue);
}

#mainHeader {
  background-color: var(--blue);
  color: var(--white);
  height: 50px;
}

#mainHeader .wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  align-items: center;
  height: 100%;
}

#buttonWrapper {
  justify-self: end;
}

#menuToggler {
  display: none;
}

#menuToggler:checked + #toggleButtonContainer span {
  background-color: var(--blue);
}

#menuToggler:checked+#toggleButtonContainer span::before {
  margin-top: 0;
  rotate: 45deg;
}

#menuToggler:checked+#toggleButtonContainer span::after {
  margin-top: 0;
  rotate: -45deg;
}

#toggleButtonContainer {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
}

#toggleButtonContainer span, #toggleButtonContainer span::before, #toggleButtonContainer span::after {
  display: block;
  width: 30px;
  height: 4px;
  background-color: var(--white);
  border-radius: 2px;
  position: absolute;
  transition: rotate .2s, background-color .2s;
}

#toggleButtonContainer span::before {
  content: '';
  margin-top: -8px;
}

#toggleButtonContainer span::after {
  content: '';
  margin-top: 8px;
}

#mainMenu {
  position: absolute;
  left: -100vw;
  top: 50px;
  background-color: var(--light-blue);
  width: 100%;
  height: calc(100vh - 50px);
  transition: left .2s;
}

#mainHeader:has(#menuToggler:checked) #mainMenu {
  left: 0;
}

#mainMenu ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 50px 10px;
}

#mainMenu ul a {
  color: var(--blue);
  text-decoration: none;
  font-size: 2em;
  transition: color .2s;
}

#mainMenu ul a:hover {
  color: var(--orange);
  text-decoration: underline;
}

#mainContent header {
  background-image: url('../images/textPage.jpg');
  background-size: cover;
  background-position: center;
}

#mainContent header div {
  background-color: rgba(0,0,0,.3);
}

#mainContent h1 {
  font-size: 2.5em;
  color: var(--blue);
  text-align: center;
  padding: 50px 30px;
  -webkit-text-stroke: 1px var(--white)
}

#mainContent #innerContent {
  padding: 10px 30px;
}

#mainFooter {
  background-color: var(--blue);
  color: var(--white);
  margin-top: auto;
}

#mainFooter .wrapper {
  display: grid;
  gap: 30px;
}

#mainFooter .wrapper figure {
  margin: 0;
  max-width: 50%;
}

#mainFooter .wrapper nav h1 {
  color: var(--orange);
  margin: 0;
  font-size: 1.3em;
  margin-bottom: 30px;
}

#mainFooter .wrapper nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: solid 1px var(--white);
  border-radius: 5px;
}

#mainFooter .wrapper nav ul li a {
  color: var(--white);
  text-decoration: none;
  display: block;
  border-bottom: solid 1px var(--white);
  padding: 10px;
  transition: background-color .2s;
}

#mainFooter .wrapper nav ul li a:hover {
  background-color: var(--orange);
}

#mainFooter .wrapper nav ul li:last-child a {
  border: none;
}

#mainFooter .wrapper p {
  text-align: center;
  font-size: .8em;
}

@media screen and (min-width: 576px) {
  .wrapper {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    width: 960px;
  }
  #mainHeader {
    height: 80px;
  }
  #mainHeader .wrapper {
    grid-template-columns: 200px 1fr;
  }
  #buttonWrapper {
    display: none;
  }
  #mainMenu {
    position: static;
    width: auto;
    height: auto;
    background: none;
  }
  #mainMenu ul {
    flex-direction: row;
    gap: 30px;
    padding: 0;
    justify-content: end;
  }
  #mainMenu ul a {
    color: var(--white);
    font-size: 1.2em;
  }
  #mainContent h1 {
    padding: 100px 30px;
    font-size: 3em;
  }
  #mainFooter .wrapper {
    grid-template-columns: 250px 1fr 250px;
  }
  #mainFooter .wrapper figure {
    max-width: 100%;
  }
  #mainFooter .wrapper nav {
    grid-column: 3;
  }
  #mainFooter .wrapper p {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    width: 1320px;
  }
}