/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #026502;
    margin: 20px 0 0 20px;
}

#filet {
    border: 1px solid #4c924c;
}

h1 {
    margin: 5px 0 0 10px;
}

#tableau {
    margin: 40px 0 40px 25px;
    /* border-collapse: collapse; */
}

th {
    background-color: #90ee90;
    padding: 5px;
    text-align: center;
}

td {
    background-color: #90ee90;
    padding: 5px;
    text-align: left;
}

#form{
    margin: 0 0 60px 40px;
    color: black;
}

legend{
margin: 0 0 35px 0px;
}

input {
    grid-area: input;
    background-color: #90ee90;
    color: #026502;
    border: none;
    padding: 5px;
    text-align: end;
}

#informations{
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-areas:
    "label input"
    "label input"
    "label input"
    "label input"
    ". input"
    ;
}