* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border: 1px solid lightgreen;
}

th, td {
    padding: .5rem;
    background-color: lightgreen;
}

form div {
    margin: 1rem 0;
}

label {
    display: inline-block;
    width: 20rem;
}

input, button {
    padding: 1rem;
}