@font-face {
    font-family: "Allura";
    src: url(../fonts/Allura/Allura-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
    /* Forcer l'héritage de la propriété box-sizing */
    // box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

// variables
$font1: Allura, cursive;
$font2: Popins, sans-serif;
$font3: Roboto, sans-serif;

$white: #eee;
$black:#21201e;
$grey: #b6b6b6;
$color1: #a67245;

li {
    cursor: pointer;
    list-style: none;
}

h2{
    font-family: $font1;
    font-size: 2rem;
    text-transform: capitalize;
    color: $color1;
    font-weight: 100;
}

a,
a:visited {
    color: $white;
    text-decoration: none;
}

body {
    text-align: center;
    color: $white;
    background: $black;
    font-family: $font3;
}

/* mixins */
@mixin alignChildren($space){
    display: flex;
    align-items: center;
    justify-content: $space;
}

@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}