@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
  /* Changement de la méthode de calcul des boîtes */
  box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
  /* Forcer l'héritage de la propriété box-sizing */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  list-style: none;
}

h2 {
  font-family: Allura, cursive;
  font-size: 2rem;
  text-transform: capitalize;
  color: #a67245;
  font-weight: 100;
}

a,
a:visited {
  color: #eee;
  text-decoration: none;
}

body {
  text-align: center;
  color: #eee;
  background: #21201e;
  font-family: Roboto, sans-serif;
}

/* mixins */
header {
  background: url(../img/bg-slider-06.jpg) center/cover;
}
header nav {
  width: 85%;
  max-width: 1100px;
  height: 10vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 82% 8%;
  align-items: center;
}
header nav .nav-left {
  font-family: Allura, cursive;
  text-transform: capitalize;
  font-size: 2rem;
}
header nav .nav-center ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
@media screen and (max-width: 680px) {
  header nav .nav-center ul {
    visibility: hidden;
  }
}
header nav .nav-center ul li {
  font-size: 0.5rem;
}
header nav .nav-right ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 680px) {
  header nav .nav-right ul {
    gap: 10px;
  }
}
header nav .nav-right ul li {
  font-size: 0.7rem;
}
header nav .nav-right ul li i {
  transition: 0.2s;
}
header nav .nav-right ul li i:hover {
  transform: scale(1.3);
}
header .texte-central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
header .texte-central div {
  margin-top: -160px;
}
header .texte-central div h2 {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 3rem;
}
header .texte-central div h1 {
  font-family: Popins, sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: -23px;
}
@media screen and (max-width: 680px) {
  header .texte-central div h1 {
    font-size: 2rem;
  }
}
header .texte-central div img {
  height: 27px;
  margin: 32px 0;
}
header .texte-central div h6 {
  font-size: 0.75rem;
  letter-spacing: 10px;
  font-weight: 100;
  text-transform: uppercase;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: black;
  background: white;
}
@media screen and (max-width: 680px) {
  .section1 {
    grid-template-columns: 1fr;
  }
}
.section1 .section1-part-left {
  margin: 10px;
  border: 1px dashed #a67245;
  padding: 30px 20px;
}
.section1 .section1-part-left h3 {
  font-family: Popins, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -10px;
}
.section1 .section1-part-left img {
  margin: 22px 0;
}
.section1 .section1-part-left img:nth-of-type(2) {
  height: 70px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.section1 .section1-part-left p {
  font-size: 0.8rem;
}
.section1 .section1-part-left h4 {
  font-family: Popins, sans-serif;
  font-size: 1rem;
}
.section1 .section1-part-left h5 {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #b6b6b6;
}
.section1 .section1-part-right {
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 680px) {
  .section1 .section1-part-right {
    display: none;
  }
}

.section2 {
  position: relative;
  padding-bottom: 100px;
}
.section2:after {
  position: absolute;
  content: "";
  height: 55vh;
  width: 100%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  transform: translate(-50%, -75%);
}
.section2 h2 {
  padding: 60px 0 30px;
}
.section2 ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  min-width: 500px;
  margin: 40px auto 30px;
}
@media screen and (max-width: 680px) {
  .section2 ul {
    min-width: 200px;
    width: 90%;
    font-size: 0.75rem;
  }
}
.section2 ul li {
  border-bottom: 1px solid #b6b6b6;
  padding-bottom: 8px;
}
.section2 .plats {
  color: #21201e;
  background: #eee;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border-top: 4px solid #a67245;
  padding: 15px 15px 15px;
  position: relative;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
@media screen and (max-width: 680px) {
  .section2 .plats {
    grid-template-columns: 1fr;
  }
}
.section2 .plats .plat {
  border-bottom: 1px dashed grey;
  display: grid;
  grid-template-columns: 25% 60% 15%;
  padding: 20px 0;
  align-items: center;
  margin: 0 10px;
}
.section2 .plats .plat img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.section2 .plats .plat div {
  text-align: left;
  height: 100%;
  margin: 0 10px;
  align-content: center;
}
.section2 .plats .plat div h3 {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.section2 .plats .plat div h3 ~ p {
  font-size: 0.7rem;
}
.section2 .plats .plat div ~ p:first-of-type {
  color: #a67245;
  font-size: 1.1rem;
  font-weight: 600;
}

.section3 {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 1100px;
  min-height: 50vh;
  margin: 50px auto;
}
@media screen and (max-width: 850px) {
  .section3 {
    grid-template-columns: 1fr;
  }
}
.section3 .section3-part-left {
  background: black;
}
.section3 .section3-part-left .section3-part-left-content {
  margin: 20px;
  padding: 20px;
  border: 1px dotted grey;
}
.section3 .section3-part-left .section3-part-left-content h3 {
  color: #a67245;
  text-transform: capitalize;
  font-family: Allura, cursive;
  font-size: 2.1rem;
  font-weight: 100;
}
.section3 .section3-part-left .section3-part-left-content h4 {
  font-family: Popins, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: translateY(-50%);
  margin-bottom: 10px;
}
.section3 .section3-part-left .section3-part-left-content img {
  height: 25px;
}
.section3 .section3-part-left .section3-part-left-content h5 {
  color: #a67245;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px 0 12px;
}
.section3 .section3-part-left .section3-part-left-content p {
  font-size: 0.6rem;
}
.section3 .section3-part-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eee;
  padding: 30px 0;
}
.section3 .section3-part-right h2 {
  font-size: 2rem;
}
.section3 .section3-part-right h3 {
  color: #21201e;
  text-transform: uppercase;
  font-family: Popins, sans-serif;
  font-size: 1.2rem;
  transform: translateY(-40%);
}
.section3 .section3-part-right img {
  height: 20px;
  margin: 15px;
}

.section4 {
  margin: 50px 20px 90px;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  .section4 {
    display: none;
  }
}
.section4 h4 {
  text-transform: uppercase;
  font-family: Popins, sans-serif;
  font-size: 1.6rem;
  transform: translateY(-15%);
}
.section4 img {
  height: 25px;
  margin: 25px;
}
.section4 .section4-grid {
  display: grid;
  grid-template-columns: 60% calc(40% - 10px);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a b" "c b";
  gap: 10px;
}
.section4 .section4-grid .date-content {
  background: #21201e;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 22px;
  text-transform: capitalize;
}
.section4 .section4-grid .date-content h6 {
  font-size: 1.7rem;
}
.section4 .section4-grid .address {
  background: #eee;
  color: #21201e;
  padding: 20px 0;
}
.section4 .section4-grid .address h3 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 200;
  padding-left: 8px;
}
.section4 .section4-grid .address > p {
  font-size: 0.6rem;
  color: #b6b6b6;
  letter-spacing: 1px;
  margin: 20px 0;
}
.section4 .section4-grid .address > p i {
  margin-right: 3px;
  font-size: 0.6rem;
}
.section4 .section4-grid .address > p i:nth-child(2) {
  margin-left: 10px;
}
.section4 .section4-grid .left {
  display: grid;
  grid-template-columns: 39% 61%;
  text-align: left;
}
.section4 .section4-grid .left .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4 .section4-grid .left .address {
  padding: 30px 20px;
}
.section4 .section4-grid .section4-event-01 {
  grid-area: a;
}
.section4 .section4-grid .section4-event-01 .date {
  background: url(../img/event-01.jpg) center/cover;
}
.section4 .section4-grid .section4-event-02 {
  grid-area: c;
}
.section4 .section4-grid .section4-event-02 .date {
  background: url(../img/event-02.jpg) center/cover;
}
.section4 .section4-grid .section4-event-03 {
  grid-area: b;
  background: url(../img/event-03.jpg) center/cover;
  padding: 25px;
}
.section4 .section4-grid .section4-event-03 .address {
  height: 100%;
  padding: 0 12px;
}

.section5 {
  padding: 130px 0 220px;
  position: relative;
}
.section5::after {
  content: "";
  height: 350px;
  width: 100%;
  position: absolute;
  background: url(../img/gmap.jpg) center/cover;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.section5 .quote-container {
  z-index: 2;
  position: relative;
  background: #eee;
  color: #21201e;
  max-width: 1100px;
  margin: 0 auto;
  padding: 65px 70px;
  width: 90%;
  box-shadow: 0 0 3px #333;
}
.section5 .quote-container::before {
  content: "";
  position: absolute;
  background: url("../img/avatar-02.jpg") center/cover;
  height: 60px;
  width: 60px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}
.section5 .text-container::before {
  content: "❝";
}
.section5 .text-container::after {
  content: " ❞";
}
.section5 .text-container::after, .section5 .text-container::before {
  font-size: 1.5rem;
}
.section5 h3 {
  margin: 30px 0 10px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
.section5 h4 {
  font-family: Popins, sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  color: #a67245;
}

footer {
  background: url(../img/bg-footer.jpg) center/cover;
  text-align: left;
  padding: 65px 32px;
}
@media screen and (max-width: 680px) {
  footer {
    background: transparent;
  }
}
footer .footer-content {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
@media screen and (max-width: 680px) {
  footer .footer-content {
    display: 1fr;
  }
}
footer .footer-content .footer-part-left {
  padding-right: 30px;
  line-height: 30px;
}
@media screen and (max-width: 680px) {
  footer .footer-content .footer-part-left {
    display: none;
  }
}
footer .footer-content .footer-part-left h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
footer .footer-content .footer-part-left p {
  font-size: 0.7rem;
  color: #b6b6b6;
}
footer .footer-content .footer-part-right {
  padding-left: 50px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 680px) {
  footer .footer-content .footer-part-right {
    padding-left: 20px;
  }
}
footer .footer-content .footer-part-right h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
footer .footer-content .footer-part-right input {
  margin-top: 15px;
  background: transparent;
  border: 1px solid rgba(166, 114, 69, 0.1529411765);
  padding: 7px 13px;
  width: 250px;
}
@media screen and (max-width: 500px) {
  footer .footer-content .footer-part-right input {
    width: 150px;
  }
}
footer .footer-content .footer-part-right .footer-part-right-down {
  display: flex;
  margin-top: 50px;
}
footer .footer-content .footer-part-right .footer-part-right-down h3 {
  place-self: center;
}
@media screen and (max-width: 680px) {
  footer .footer-content .footer-part-right .footer-part-right-down h3 {
    display: none;
  }
}
footer .footer-content .footer-part-right .footer-part-right-down ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #595956;
  width: 300px;
  font-size: 0.8rem;
}
@media screen and (max-width: 680px) {
  footer .footer-content .footer-part-right .footer-part-right-down ul {
    width: 100%;
    margin: 0 auto;
  }
}
footer .footer-content .footer-part-right .footer-part-right-down i {
  transition: 0.2s;
}
footer .footer-content .footer-part-right .footer-part-right-down i:hover {
  transform: scale(1.5);
}

form .form-input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 680px) {
  form .form-input {
    grid-template-columns: 1fr;
  }
}
form .form-input > * {
  padding: 10px 0;
  margin: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #b6b6b6;
  background: transparent;
}
form .form-input > *::-moz-placeholder {
  text-transform: capitalize;
}
form .form-input > *::placeholder {
  text-transform: capitalize;
}
form input[type=submit] {
  background: black;
  border: none;
  color: #eee;
  text-transform: uppercase;
  padding: 12px 30px;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}
form input[type=submit]:hover {
  transform: translateX(2px);
}

.btn {
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 0.6rem;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */