* {
    margin: 0;
    color: white;
    font-size: 1.2em;
}

body {
    width: 100vw;
    height: 100vh;
}

.principal {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 19vh);
    gap: 5px;
}

.principal section {
    background-color: #CCCC33;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s1 {
    grid-area: 1/1/2/-1;

}

#s2 {
    grid-area: 2/1/6/2;
}

#s3 {
    grid-area: 2/2/3/3;
}

#s4 {
    grid-area: 2/3/3/-1;
}

#s5 {
    grid-area: 3/2/4/4;
}

#s6 {
    grid-area: 3/4/4/-1;
}

#s7 {
    grid-area: 4/2/5/3;
}

#s8 {
    grid-area: 4/3/5/4;
}

#s9 {
    grid-area: 4/4/5/-1;
}

#s10 {
    grid-area: 5/2/5/-1;
}