@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
    /* Changement de la méthode de calcul des boîtes */
    box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
    /* Forcer l'héritage de la propriété box-sizing */
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

// variables
$font1: Inter, sans-serif;
$font2: Merriweather, sans-serif;
$font3: Arial, Helvetica, sans-serif;

$grey: #615a5ad5;
$grey-footer: #a89c9cd5;
$white-mat: #f3f3f3;
$white: #ffffff;
$black: #000000;
$grey-border: #c7c3c35d;
$background-nav: #ffffff41;
$background-footer :#e9e9e9;

li {
    cursor: pointer;
    list-style: none;
    font-size: 0.7rem;
}

a,
a:visited {
    color: $white-mat;
}

body {
    min-height: 100vh;
    text-align: center;
    background: url(../img/bg.jpg) center/cover fixed;
    margin: 0 auto;

    &:before {
        background: $grey-footer;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        animation: animBefore 1.5s ease forwards;
        animation-delay: 500ms;
    }

    @keyframes animBefore {
        to {
            opacity: 0;
        }
    }
}

// mixins
@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title {
    font-family: $font3;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin p-footer {
    font-family: $font2;
    font-size: 0.7rem;
    color: $grey-footer;
}

@mixin grid-contact-footer {
    display: grid;
    grid-template-columns: 27% 73%;

    h4 {
        padding-left: 2vw;
        align-content: center;
        text-align: left;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;

        @media screen and (max-width: 700px) {
            padding-left: 35px;
            font-size: 0.8rem;
        }
    }
}