@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
  /* Changement de la méthode de calcul des boîtes */
  box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
  /* Forcer l'héritage de la propriété box-sizing */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

li {
  list-style: none;
  font-size: 0.7rem;
}

body {
  background: url(../img/bg.jpg) center/cover fixed;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  color: #f3f3f3;
  position: relative;
}
header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 97vh;
  width: 1300px;
  margin: 0 auto;
  opacity: 0;
  animation: headerAnim 1.5s forwards;
}
@keyframes headerAnim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header .header-content h1 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 6px;
}
header .header-content h1 p {
  line-height: 90px;
}
@media screen and (max-width: 1520px) {
  header .header-content {
    width: 90%;
  }
}
@media screen and (max-width: 1320px) {
  header .header-content h1 {
    font-size: 4rem;
  }
}
header .header-content .textheader {
  font-style: italic;
  font-size: 1.2rem;
  margin: 40px 0 60px;
}
header .header-content div i {
  border: 1px solid;
  padding: 25px;
  border-radius: 45px;
}
header .header-content nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.2549019608);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
header .header-content nav ul {
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  height: 100%;
  font-weight: bold;
}
header .header-content nav li {
  align-content: center;
  padding: 0 30px;
  letter-spacing: 2px;
}
header .header-content nav .nav-left {
  text-align: center;
}
header .header-content nav .nav-left li:first-child, header .header-content nav .nav-left li:hover {
  background-color: #f3f3f3;
  color: #000000;
}
@media screen and (max-width: 800px) {
  header .header-content nav .nav-left {
    width: 100%;
  }
}
header .header-content nav .nav-right li fa-brands {
  height: 30px;
  width: 130px;
}
@media screen and (max-width: 800px) {
  header .header-content nav .nav-right {
    display: none;
  }
}

main {
  background-color: #f3f3f3;
  width: 1300px;
  margin: 0 auto 30px;
}
@media screen and (max-width: 1520px) {
  main {
    width: 90%;
    justify-items: center;
  }
}
main .part-main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
main .part-main > p {
  text-transform: capitalize;
  width: 70%;
  padding: 60px 0;
}
@media screen and (max-width: 1520px) {
  main .part-main {
    width: 90%;
    justify-items: center;
  }
}
main .part-main h2 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 6px;
}
main .part-main h2 p {
  line-height: 100%;
}
@media screen and (max-width: 1320px) {
  main .part-main h2 {
    font-size: 4rem;
  }
}
main .part-main p {
  line-height: 35px;
}
main .part-main img {
  width: 75%;
}
main .part-main .btn {
  margin: 70px auto;
}
main .footer-part {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  line-height: 30px;
  position: relative;
  border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
}
@media screen and (max-width: 500px) {
  main .footer-part {
    display: block;
  }
}
main .footer-part h3 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .footer-part img {
  width: 80%;
  margin: 30px auto;
}
main .footer-part img ~ p {
  width: 75%;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
main .footer-part .footer-part-left,
main .footer-part .footer-part-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}
main .footer-part .footer-part-left > p,
main .footer-part .footer-part-right > p {
  text-transform: capitalize;
  padding-bottom: 40px;
}
main .footer-part .footer-part-left .btn,
main .footer-part .footer-part-right .btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
}
@media screen and (max-width: 500px) {
  main .footer-part .footer-part-left .btn,
  main .footer-part .footer-part-right .btn {
    position: relative;
    bottom: 0;
    margin-bottom: 0;
  }
}
main .footer-part .footer-part-left {
  border-right: 1px solid rgba(199, 195, 195, 0.3647058824);
}

footer {
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: rgba(97, 90, 90, 0.8352941176);
  margin-bottom: 60px;
}
footer .footer-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 1300px;
  background-color: #e9e9e9;
}
@media screen and (max-width: 700px) {
  footer .footer-content {
    display: block;
  }
}
@media screen and (max-width: 1520px) {
  footer .footer-content {
    width: 90%;
  }
}
footer .footer-content .formulaire {
  border-right: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 25%);
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact {
    grid-template-rows: repeat(4, 15vh);
  }
}
footer .footer-content .contact h4 {
  text-transform: uppercase;
  font-weight: 700;
}
footer .footer-content .contact .address {
  grid-area: 1/1/2/3;
  align-content: center;
}
footer .footer-content .contact .address .address-content {
  display: grid;
  grid-template-columns: 25% 75%;
}
footer .footer-content .contact .address .address-content h4 {
  justify-self: center;
  align-content: center;
}
footer .footer-content .contact .address .address-content .p-address {
  font-family: Merriweather, sans serif;
  font-size: 0.7rem;
  color: rgba(168, 156, 156, 0.8352941176);
  transform: translateY(25%);
}
footer .footer-content .contact .phone {
  grid-area: 2/1/3/3;
  align-content: center;
  border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact .phone .phone-content {
  display: grid;
  grid-template-columns: 25% 75%;
}
footer .footer-content .contact .phone .phone-content h4 {
  justify-self: center;
  align-content: center;
}
footer .footer-content .contact .phone .phone-content p {
  font-family: Merriweather, sans serif;
  font-size: 0.7rem;
  color: rgba(168, 156, 156, 0.8352941176);
}
footer .footer-content .contact .email {
  grid-area: 3/1/4/3;
  align-content: center;
  border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact .email .email-content {
  display: grid;
  grid-template-columns: 25% 75%;
}
footer .footer-content .contact .email .email-content h4 {
  justify-self: center;
  align-content: center;
}
footer .footer-content .contact .email .email-content p {
  font-family: Merriweather, sans serif;
  font-size: 0.7rem;
  color: rgba(168, 156, 156, 0.8352941176);
}
footer .footer-content .contact .social {
  grid-area: 4/1/5/3;
  align-content: center;
  border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact .social .social-content {
  display: grid;
  grid-template-columns: 25% 75%;
}
footer .footer-content .contact .social .social-content h4 {
  justify-self: center;
  align-content: center;
}
footer .footer-content .contact .social .social-content ul {
  display: flex;
  padding-left: 30px;
  gap: 15px;
}
footer .footer-content .contact .social .social-content i {
  color: #000000;
  border: 1px solid rgba(199, 195, 195, 0.3647058824);
  padding: 10px;
  border-radius: 50px;
}

.btn {
  background-color: transparent;
  padding: 15px 45px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  width: 80%;
  padding: 30px 0 60px;
}
form label {
  text-transform: uppercase;
  padding: 10px 0;
}
form input {
  background-color: #e9e9e9;
  border: 1px solid rgba(199, 195, 195, 0.3647058824);
  height: 35px;
}
form textarea {
  background-color: #e9e9e9;
  border: 1px solid rgba(199, 195, 195, 0.3647058824);
  height: 150px;
  margin-bottom: 40px;
}
form input[type=submit] {
  color: rgba(97, 90, 90, 0.8352941176);
  border: 2px solid rgba(97, 90, 90, 0.8352941176);
  padding: 15px 45px 30px;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=style.css.map */