@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
/* Sélecteur de la racine du document HTML (élement html) */
/* html { */
:root {
  /* Changement de la méthode de calcul des boîtes */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Sélectionne tous les éléments */
* {
  /* Forcer l'héritage de la propriété box-sizing */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  cursor: pointer;
  list-style: none;
  font-size: 0.7rem;
}

a,
a:visited {
  color: #f3f3f3;
}

body {
  min-height: 100vh;
  text-align: center;
  background: url(../img/bg.jpg) center/cover fixed;
  margin: 0 auto;
}
body:before {
  background: rgba(168, 156, 156, 0.8352941176);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

header {
  font-family: Merriweather, sans-serif;
  color: #f3f3f3;
  position: relative;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 85%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  -webkit-animation: headerAnim 2s forwards;
          animation: headerAnim 2s forwards;
}
@media screen and (max-width: 800px) {
  header .header-content {
    width: 90%;
  }
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header .header-content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 6px;
}
@media screen and (max-width: 1320px) {
  header .header-content h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1000px) {
  header .header-content h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px) {
  header .header-content h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
  header .header-content h1 {
    font-size: 2.5rem;
  }
}
header .header-content .textheader {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 35px;
  margin: 40px 0 60px;
}
header .header-content .textheader ~ div {
  height: 60px;
  width: 60px;
  border: 2px solid;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
header .header-content nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2549019608);
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 65px;
}
header .header-content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  height: 100%;
}
header .header-content nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 15px;
}
header .header-content nav .nav-left {
  height: 100%;
  width: 100%;
}
header .header-content nav .nav-left .nav-left-content:hover li:not(:hover) {
  background: transparent;
  color: #f3f3f3;
}
header .header-content nav .nav-left .nav-left-content li:first-child, header .header-content nav .nav-left .nav-left-content li:hover {
  background-color: #e9e9e9;
  color: rgba(97, 90, 90, 0.8352941176);
}
@media screen and (max-width: 800px) {
  header .header-content nav .nav-left .nav-left-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
header .header-content nav .nav-right {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .header-content nav .nav-right li {
  font-size: 1rem;
}
header .header-content nav .nav-right li:hover {
  font-size: 1.05rem;
}
@media screen and (max-width: 800px) {
  header .header-content nav .nav-right {
    display: none;
    width: 0;
  }
}

main {
  background-color: #f3f3f3;
  width: 85%;
  margin: 0 auto 30px;
}
@media screen and (max-width: 1520px) {
  main {
    width: 90%;
    justify-items: center;
  }
}
main .part-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .part-main div {
  width: 100%;
}
main .part-main div p {
  position: relative;
  margin: 0 auto;
  text-transform: capitalize;
  padding: 80px 0 60px;
  font-size: 1.3rem;
  letter-spacing: 0;
  width: 80%;
}
main .part-main div p::before {
  content: "";
  position: absolute;
  background: rgba(97, 90, 90, 0.8352941176);
  width: 35%;
  height: 1px;
  top: 90px;
  left: 0;
}
@media screen and (max-width: 1000px) {
  main .part-main div p::before {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  main .part-main div p::before {
    width: 25%;
  }
}
main .part-main div p::after {
  content: "";
  position: absolute;
  background: rgba(97, 90, 90, 0.8352941176);
  width: 35%;
  height: 1px;
  top: 90px;
  right: 0;
}
@media screen and (max-width: 1000px) {
  main .part-main div p::after {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  main .part-main div p::after {
    width: 25%;
  }
}
@media screen and (max-width: 1520px) {
  main .part-main {
    width: 90%;
    justify-items: center;
  }
}
main .part-main h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 4px;
  width: 65%;
}
@media screen and (max-width: 1320px) {
  main .part-main h2 {
    font-size: 4rem;
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  main .part-main h2 {
    font-size: 3rem;
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  main .part-main h2 {
    font-size: 2rem;
    width: 60%;
  }
}
main .part-main h2 ~ p {
  line-height: 35px;
  width: 60%;
  padding: 30px 0 40px;
}
main .part-main img {
  width: 80%;
}
@media screen and (max-width: 500px) {
  main .part-main img {
    width: 90%;
  }
}
main .part-main .btn {
  margin: 50px auto 70px;
}
main .footer-part {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  line-height: 30px;
  position: relative;
  border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
}
@media screen and (max-width: 500px) {
  main .footer-part {
    display: block;
  }
}
main .footer-part h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .footer-part img {
  width: 80%;
  margin: 30px auto;
}
@media screen and (max-width: 500px) {
  main .footer-part img {
    width: 75%;
  }
}
main .footer-part img ~ p {
  width: 80%;
  margin-bottom: 40px;
  text-align: left;
}
@media screen and (max-width: 500px) {
  main .footer-part img ~ p {
    width: 75%;
    margin-bottom: 0;
  }
}
main .footer-part .footer-part-left,
main .footer-part .footer-part-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
}
main .footer-part .footer-part-left > p,
main .footer-part .footer-part-right > p {
  text-transform: capitalize;
  padding-bottom: 40px;
}
main .footer-part .footer-part-left .btn,
main .footer-part .footer-part-right .btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
}
@media screen and (max-width: 500px) {
  main .footer-part .footer-part-left .btn,
  main .footer-part .footer-part-right .btn {
    position: relative;
    bottom: 0;
    margin-bottom: 0;
  }
}
main .footer-part .footer-part-left {
  border-right: 1px solid rgba(199, 195, 195, 0.3647058824);
}

footer {
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: rgba(97, 90, 90, 0.8352941176);
  margin-bottom: 60px;
}
footer .footer-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 85%;
  background-color: #e9e9e9;
}
@media screen and (max-width: 700px) {
  footer .footer-content {
    display: block;
  }
}
@media screen and (max-width: 1520px) {
  footer .footer-content {
    width: 90%;
  }
}
footer .footer-content .formulaire {
  border-right: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 25%);
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact {
    grid-template-rows: repeat(4, 14vh);
  }
}
footer .footer-content .contact .address {
  grid-area: 1/1/2/3;
  -ms-flex-line-pack: center;
      align-content: center;
}
footer .footer-content .contact .address .address-content {
  display: grid;
  grid-template-columns: 27% 73%;
}
footer .footer-content .contact .address .address-content h4 {
  padding-left: 2vw;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact .address .address-content h4 {
    padding-left: 35px;
    font-size: 0.8rem;
  }
}
footer .footer-content .contact .address .address-content .p-address {
  font-family: Merriweather, sans-serif;
  font-size: 0.7rem;
  color: rgba(168, 156, 156, 0.8352941176);
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  text-align: left;
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact .address .address-content .p-address {
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact .address {
    border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
  }
}
footer .footer-content .contact .phone {
  grid-area: 2/1/3/3;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact .phone .phone-content {
  display: grid;
  grid-template-columns: 27% 73%;
}
footer .footer-content .contact .phone .phone-content h4 {
  padding-left: 2vw;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact .phone .phone-content h4 {
    padding-left: 35px;
    font-size: 0.8rem;
  }
}
footer .footer-content .contact .phone .phone-content p {
  font-family: Merriweather, sans-serif;
  font-size: 0.7rem;
  color: rgba(168, 156, 156, 0.8352941176);
  text-align: left;
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact .phone .phone-content p {
    font-size: 1rem;
  }
}
footer .footer-content .contact .email {
  grid-area: 3/1/4/3;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact .email .email-content {
  display: grid;
  grid-template-columns: 27% 73%;
}
footer .footer-content .contact .email .email-content h4 {
  padding-left: 2vw;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact .email .email-content h4 {
    padding-left: 35px;
    font-size: 0.8rem;
  }
}
footer .footer-content .contact .email .email-content p {
  font-family: Merriweather, sans-serif;
  font-size: 0.7rem;
  color: rgba(168, 156, 156, 0.8352941176);
  text-align: left;
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact .email .email-content p {
    font-size: 1rem;
  }
}
footer .footer-content .contact .social {
  grid-area: 4/1/5/3;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact .social .social-content {
  display: grid;
  grid-template-columns: 27% 73%;
  text-align: left;
}
footer .footer-content .contact .social .social-content h4 {
  padding-left: 2vw;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
@media screen and (max-width: 700px) {
  footer .footer-content .contact .social .social-content h4 {
    padding-left: 35px;
    font-size: 0.8rem;
  }
}
footer .footer-content .contact .social .social-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  color: rgba(97, 90, 90, 0.8352941176);
}
footer .footer-content .contact .social .social-content ul li {
  padding: 12px;
  border-radius: 50px;
  border: 1px solid rgba(199, 195, 195, 0.3647058824);
}
footer .footer-content .contact .social .social-content ul li:nth-child(2) {
  padding: 12px 16px 0 16px;
}
footer .footer-content .contact .social .social-content ul li:hover {
  border: 1px solid #000000;
}
footer .footer-content .contact .social .social-content ul li:hover i {
  font-size: 1.01rem;
  color: #000000;
}
footer .footer-content .contact .social .social-content ul li i {
  font-size: 0.9rem;
}

.btn {
  border: 2px solid #000000;
  background-color: transparent;
  padding: 15px 45px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 1px;
  width: 80%;
  padding: 30px 0 60px;
}
@media screen and (max-width: 700px) {
  form {
    font-size: 0.8rem;
  }
}
form label {
  text-transform: uppercase;
  text-align: left;
  padding: 20px 0;
}
form input {
  background-color: #e9e9e9;
  border: 1px solid rgba(199, 195, 195, 0.3647058824);
  height: 35px;
}
form textarea {
  background-color: #e9e9e9;
  border: 1px solid rgba(199, 195, 195, 0.3647058824);
  height: 150px;
  margin-bottom: 20px;
}
form input[type=submit] {
  color: rgba(97, 90, 90, 0.8352941176);
  border: 2px solid rgba(97, 90, 90, 0.8352941176);
  padding: 15px 45px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=style.css.map */